.header {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px 60px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__social{
    &-link{

    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;

    &-number {
      font-size: 18px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #ffffff;
    }

    &-link {
      display: none;
    }

    &-icon{
      height: 20px;
    }
  }

  &__hamburger-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      padding: 40px 40px 0 40px;
    }

    &__socials {
      display: none;
    }

    &__logo {
      width: 190px;
    }

    &__phone {
      display: none;

      &-link {
        display: block;
      }
    }

    &__hamburger {
      &-btn {
        display: flex;
      }
    }
  }
}
