.header {
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 45px 60px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
  }

  &__logo {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  &__social {
    &-link {
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 5px;
    color: #ffffff;

    &-number {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 500;
      vertical-align: middle;
      color: #ffffff;
    }

    &-link {
      display: none;
    }

    &-icon {
      height: 20px;
    }
  }

  &__hamburger-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      padding: 40px 40px 0 40px;
      justify-content: space-between;
    }

    &__socials {
      display: none;
    }

    &__logo {
      flex: none;
      width: 190px;
    }

    &__phone {
      display: none;

      &-link {
        display: block;
      }
    }

    &__hamburger {
      &-btn {
        display: flex;
      }
    }
  }
}
