.questions {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
  }

  &__title {
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3px;
    vertical-align: middle;
    color: #38404c;
  }

  &__subtitle {
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 29.25px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #545c69;
  }

  &__list {
    flex: 1;
  }
}

.question {
  display: flex;
  flex-direction: row;
  padding: 40px;
  gap: 32px;

  &__number {
    font-family: Plus Jakarta Sans;
    font-weight: 200;
    font-style: Light;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3px;
    vertical-align: middle;
    color: #ff7850b0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__answer {
    display: none;

    &.visisble{
      display: flex;
    }
  }

  // &__container:has(&__icon:hover) &__answer {
  //   display: flex;
  // }

  &__title {
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    vertical-align: middle;
    color: #38404c;
  }

  &__answer {
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 29.25px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .questions {
    &__header {
      gap: 10px;
      width: 100%;
    }

    &__title {
      font-size: 40px;
      line-height: 30px;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    gap: 0;

    &__container {
      gap: 5px;
      width: 80%;
    }

    &__number {
      font-size: 40px;
      line-height: 40px;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
    }

    &__answer {
      font-size: 15px;
      line-height: 15px;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}
